
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f7f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.customicon{
  margin:  0px 5px 0 0;
  display: inline-block;
  padding-bottom: 5px;
}


/* Scroll Bar */
::-webkit-scrollbar{
  width: 0.60rem;
  background-color: #4d4d4d;
  /* border-radius: .5rem; */
}

::-webkit-scrollbar-thumb{
  background-color: #badfce;
  border-radius: .5rem;
  box-shadow: 0 0 34px white;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #7ecaa7;
}